/*I know that Bootstrap is a very powerful tool,
however, on this webpage there are features that are supposed to have
a uniform appearance on every page that the user is on, like the navbar and footer.
That's why I'm still using css to style these elements of the page in one location to affect
every page simultaneously. And some things you just can't do with bootstrap (or maybe you can and I'm just dumb).
And yes, I think it's perfectly normal to just make one css file shared across every html file*/

body{
    background-color: #0d0000;
    color:#f2f2f2;
}

footer{
    background-color: #1b1b1b;
}

.navbar-brand{
    position: absolute;
    top: -5px;
}

.navbar-toggler{
    position: absolute;
    right: 0px;
}

.nav-link{
    border-radius: 10px;
    margin-top: 4px;
}

.nav-link:hover{
    background-color: rgba(255, 0, 0, 0.3);
}

.insta-link .bi-instagram{
    font-size: 32px;
}

.insta-link{
    padding: 0;
    color: white;
}

.insta-link:hover{
    color: rgba(255, 0, 0, 0.5);
}

.current{
    background-color: red;
    border-radius: 10px;
}

.sponsor-main img{
    display: block;
    width: 80vw;
    max-width: 300px;
}

.sponsor-co img {
    display: block;
    max-width: 150px;
    max-height: 100px;
    width: auto;
    height: auto;
}

.imprint{
    background-color: #181818;
}

.info-card{
    background-color: #1d1d1d;
    border-radius: 5px;
    padding: 0px 8px;
    margin: auto;
}

.index-main > .info-card{
    max-width: 1300px;
}

.infos-main > .info-card,
.team-main > .info-card,
.specials-main > .info-card{
    max-width: 900px;
}

.info-card > h3{
    text-align: center;
    margin-bottom: 0px;
    font-size: clamp(30px, 5vw, 50px);
}

.info-card > hr{
    height: 3px;
    border-width: 0px;
    opacity: 0.6;
}

.info-card-ok{
    padding-top: 10px;
}

.logo-card{
    background-color: #0d0000;
}

.act-image{
    display: block;
    width: 100%;
    margin: auto;
}

.image-wrapper-acts{
    position: relative;
    width: 80%;
    max-width: 500px;
}

.act-time{
    position: absolute;
    display: flex;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.8);
    transition: opacity 500ms;
    opacity: 0;
}

.act-time:hover{
    opacity: 1;
}

.act-time.visible{
    opacity: 1;
}

.navbar-collapse{
    position: absolute;
    right: 20px;
}

.nav-item{
    padding-left: 15px;
    padding-right: 15px;
}

.time-table tbody td{
    padding-top: 0;
    padding-bottom: 0;
    color: #f2f2f2 
}

.time-table tbody tr:hover{
    background-color: #2d2d2d;
}

.time-table thead{
    border-bottom: 2px solid white
}

.submit-journey-form{
    color: #f2f2f2;
    background-color: #212529;
    border-color: #212529;
    transition: background-color 500ms, border-color 500ms;
}

.submit-journey-form:hover{
    background-color: #ff0000;
    border-color: #ff0000;
}

.ok-img{
    display: block;
    width: 100%;
    margin: auto;
    border-radius: 5px;
}

.image-wrapper-ok{
    position: relative;
}

.overlay-ok{
    position: absolute;
    display: flex;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.8);
    border-radius: 5px;
    opacity: 0;
    transition: opacity 500ms;
}

.overlay-ok:hover{
    opacity: 1;
}

@keyframes technik-overlay-ok{
    17% {background-color: rgba(200, 0, 0, 0.8);}
    50% {background-color: rgba(0, 200, 0, 0.8);}
    83% {background-color: rgba(0, 0, 200, 0.8);}
    100%{background-color: rgba(200, 0, 0, 0.8);}
}

.technik-overlay-ok{
    background: rgba(200, 0, 0, 0.8);
}

.technik-overlay-ok:hover{
    animation-name: technik-overlay-ok;
    animation-timing-function: linear;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.foto-info{
    display: flex;
    align-items: center;
    margin: auto;
    height: 100vh;
}

.foto-info > .info-card{
    display: flex;
    align-items: center;
    text-align: center;
    height: 100px;
}

.kaba-title{
    font-size: min(10vw, 110px);
    margin-bottom: 0px;
}

.kaba-date{
    font-size: min(8vw, 90px);
    margin-bottom: 0px;
}

@media only screen and (max-width: 767px){
    .navbar-collapse{
        width: 100%;
        position: absolute;
        top: 60px;
        right: 0px;
        background-color: #212529;
    }

    .nav-item{
        padding: 0px 5px;
        margin: 2px 0px;
    }

    .nav-item > .nav-link{
        margin-top: 0;
        padding-left: 5px;
    }

    footer > .container-fluid{
        padding-left: 10px;
        padding-right: 10px;
    }
}