/*I know that Bootstrap is a very powerful tool,
however, on this webpage there are features that are supposed to have
a uniform appearance on every page that the user is on, like the navbar and footer.
That's why I'm still using css to style these elements of the page in one location to affect
every page simultaneously*/

body{
    background-color: #0d0000;
    color:#f2f2f2;
}

footer{
    background-color: #1b1b1b;
}

.navbar-brand{
    position: absolute;
    top: -5px;
}

.navbar-toggler{
    position: absolute;
    right: 0px;
}

.nav-link{
    border-radius: 10px;
}

.nav-link:hover{
    background-color: rgba(255, 0, 0, 0.3);
}

.current{
    background-color: red;
    border-radius: 10px;
}

.sponsor-main img{
    display: block;
    max-width: 300px;
    max-height: 200px;
}

.sponsor-co img {
    display: block;
    max-width: 200px;
    max-height: 100px;
}

.imprint{
    background-color: #181818;
}

.info-card{
    background-color: #1d1d1d;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 1300px;
    margin: auto;
}

.logo-card{
    background-color: #0d0000;
}

.trailer-placeholder{
    padding-bottom: calc(calc(100%/16)*9);
}

.act-image{
    display: block;
    width: 80%;
    max-width: 600px;
    margin: auto;
}

.image-wrapper{
    position: relative;
}

.act-time{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(255, 0, 0, 0.8);
    transition: opacity 2s;
    opacity: 0;
}

.act-time.visible{
    opacity: 1;
}

.navbar-collapse{
    position: absolute;
    right: 20px;
}

.nav-item{
    padding-left: 15px;
    padding-right: 15px;
}

@media only screen and (max-width: 767px){
    .navbar-collapse{
        width: 100%;
        position: absolute;
        top: 60px;
        background-color: #212529;
    }

    .nav-item{
        margin: 5px;
    }

    .nav-item > .nav-link{
        padding-left: 5px;
    }

    footer > .container-fluid{
        padding-left: 10px;
        padding-right: 10px;
    }
}